# Discord Bot Token (from https://discord.com/developers/applications)
DISCORD_TOKEN=MTQ4MDM4NjQxOTg5Njg3NzEwNg.GN6bq8.RAdxAdvFwcwMVkiyUR9qJ82S7N5Pw_SCsE-g8g

# Discord Application / Client ID
CLIENT_ID=1480386419896877106

# PostgreSQL connection string
DATABASE_URL=postgresql://postgres:UDIWikJFsrOxBuhVGlhGOlZDZrfFupdQ@postgres.railway.internal:5432/railway

# Your Discord User ID (for owner-only commands)
OWNER_ID=1429171703879307277
